.with-navbar {
    padding-top: 100px;
  }

body {
  background-color: #FBF7E8 !important;
}

.imported-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}